{% assign faq_metaobject = product.metafields.custom.product_faq %}

{% if faq_metaobject %}
  <div class="product-faqs">
    <h2>Product FAQs</h2>

    {% for faq in faq_metaobject %}
      <div class="faq-item">
        <p>
          <strong>Question #{{ faq.question_number }}</strong>
        </p>
        <p>
          <strong>Q: {{ faq.question }}</strong>
        </p>
        <p>
          <strong>A: {{ faq.answer }}</strong>
        </p>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No FAQs available for this product.</p>
{% endif %}

{% schema %} {"name":"faq-item","settings":[{"id":"text_number","type":"text","label":"number","default":"1"},{"id":"text_question","type":"text","label":"Question","default":"How does Pocket work?"},{"id":"richtext_answer","type":"richtext","label":"Answer","default":"<p>\n                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.\n                                  <\/p>"}],"presets":[{"name":"faq-item"}]} {% endschema %}
