{% assign faq_entries = product.metafields.custom.product_faq.value %}

{% if faq_entries != blank %}
  <div class="faq-list">
    {% for faq in faq_entries %}
      <div class="faq-item">
        <h3 class="faq-question">Question Number: {{ faq.question_number.value }}</h3>
        <p class="faq-question-text">Question: {{ faq.question.value | escape }}</p>
        <div class="faq-answer">
          <h4>Answer:</h4>
          {% if faq.answer_ != blank %}
            <div>{{ faq.answer_.value }}</div>
          {% else %}
            <p>Answer is missing!</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No FAQs available for this product.</p>
{% endif %}

{% schema %} {"name":"faq-item","settings":[{"id":"text_number","type":"text","label":"number","default":"1"},{"id":"text_question","type":"text","label":"Question","default":"How does Pocket work?"},{"id":"richtext_answer","type":"richtext","label":"Answer","default":"<p>\n                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.\n                                  <\/p>"}],"presets":[{"name":"faq-item"}]} {% endschema %}
