{% assign faq_entries = product.metafields.custom.product_faq.value %}

{% if faq_entries != blank %}
  {% assign sorted_faqs = faq_entries %}

  {% assign sorted_faqs = sorted_faqs | sort: 'question_number.value' %}

  {% for faq in sorted_faqs %}
    <div li-block="faq-item" class="faq-item">
      <div class="accordian-item-wrapper">
        <div data-delay="0" data-hover="false" class="accordian-item w-dropdown">
          <div class="accordian-toggle w-dropdown-toggle">
            <div class="accordian-icon w-icon-dropdown-toggle"></div>
            <div class="accordian-title-wrapper">
              <div class="acordian-number-wrapper">
                <div class="p1-6 bold">{{ faq.question_number.value }}</div>
                <div class="p1-6 bold">.</div>
              </div>
              <div class="p1 bold">{{ faq.question.value | escape }}</div>
            </div>
          </div>
          <nav style="height:0px" class="accordian-body-wrapper w-dropdown-list">
            <div class="rich-text-block w-richtext">
              {{ faq.answer.value }}
            </div>
          </nav>
        </div>
        <div class="accordian-line"></div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>No FAQs available for this product.</p>
{% endif %}

{% schema %} {"name":"faq-item","settings":[{"id":"text_number","type":"text","label":"number","default":"1"},{"id":"text_question","type":"text","label":"Question","default":"How does Pocket work?"},{"id":"richtext_answer","type":"richtext","label":"Answer","default":"<p>\n                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.\n                                  <\/p>"}],"presets":[{"name":"faq-item"}]} {% endschema %}
