<div li-block="GB Table" class="cell-grid-wrapper">
                    
                    <div li-content-for-theme-blocks="@theme">
{% content_for 'blocks' %}
</div>

                    
                </div>
     {% schema %} {"name":"GB Table","blocks":[{"type":"gb-table-row"},{"type":"@app"}],"presets":[{"name":"GB Table"}]} {% endschema %}