<div li-block="GB Table" class="cell-grid-wrapper">
                    
                    <div li-content-for-theme-blocks="">
{% content_for 'blocks' %}
</div>

                    
                </div>
     {% schema %} {"name":"GB Table","blocks":[{"type":"gb-table-row"},{"type":"gb-row-x5"},{"type":"gb-row-x10"},{"type":"@app"}],"presets":[{"name":"GB Table"}]} {% endschema %}