{% assign faqs = product.metafields.custom.product_faq.value %}

{% if faqs != blank %}
  <ul>
    {% for faq in faqs %}
      <li>
        <strong>{{ faq.question_number }}. {{ faq.question }}</strong><br>
        {{ faq.answer }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No FAQs linked to this product.</p>
{% endif %}

{% schema %} {"name":"Product FAQ Wrapper","blocks":[{"type":"faq-item"},{"type":"@app"}],"presets":[{"name":"Product FAQ Wrapper"}]} {% endschema %}
