{% assign faqs = product.metafields.custom.product_faq.value %}

{% if faqs != blank %}
  {% for faq in faqs %}
    <div class="faq-item">
      <h3>{{ faq.question_number }}. {{ faq.question }}</h3>
      <div>{{ faq.answer }}</div>
    </div>
  {% endfor %}
{% endif %}

{% schema %} {"name":"Product FAQ Wrapper"} {% endschema %}
