<div li-block="Product FAQ Wrapper" class="faq-list-wrapper">
  <div li-content-for-theme-blocks="">
    {% content_for 'blocks' %}
  </div>
</div>
{% schema %} {"name":"Product FAQ Wrapper","blocks":[{"type":"faq-item"},{"type":"@app"}],"presets":[{"name":"Product FAQ Wrapper"}]} {% endschema %}
