<div li-block="Rich Text Section" class="p1-wrapper">
                    
                    <div class="rich-text-block-2 w-richtext"> {{ block.settings.richtext_section_text }} </div>

                    
                </div>
     {% schema %} {"name":"Rich Text Section","settings":[{"id":"richtext_section_text","type":"richtext","label":"Section Text","default":"<p>\n                  <strong>Lorem Ipsum Title<\/strong>\u200d\n                  This Privacy Policy describes how www.gridbase.net (the \u201cSite\u201d or \u201cwe\u201d) collects, uses, and discloses your Personal Information when you visit or make a purchase from the Site.<br\/><br\/>After reviewing this policy, if you have additional questions, want more information about our privacy practices, or would like to make a complaint, please contact us by e-mail at <a href=\"mailto:info@gridbase.n<\/p>"}],"presets":[{"name":"Rich Text Section"}]} {% endschema %}