<div class="w-form">{% form 'contact' %}
<div><div id="w-node-cc7128ba-1aa1-683f-bcd6-15713f4130d8-b7cc14d1" class="contact-form-section-1"><input class="w-input" maxlength="256" name="contact[name]" data-name="Contact Name 2" placeholder="Name" type="text" id="contact-name-2" required="">
<input class="w-input" maxlength="256" name="contact[email]" data-name="Contact Email 2" placeholder="Email Address" type="email" id="contact-email-2" required="">
<textarea class="w-input" maxlength="5000" name="contact[body]" data-name="Contact Message 2" placeholder="Message" id="contact-message-2" required=""></textarea><input type="submit" data-wait="Please wait..." class="w-button" value="Submit">
</div></div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div> {% schema %} {"tag":"section","name":"gb-form","class":"section gb-contact-form","presets":[{"name":"gb-form","category":"Liquify","blocks":[]}]} {% endschema %}